.user-card{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 15px 12px;
    background-color: rgb(247, 248, 255);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.user-card button{
    background-color: rgb(147 197 253);
    padding: 8px 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.user-card button:hover{
    color: white;
    background-color: rgb(37 99 235);
}